{% extends "home.html" %} {% load static %}
<br>{% block tit%}تسجيل مستخدم جديد{% endblock %}
<br>{% block header%}

<div class="cont_model_1">
    <form action="" class="form_adj" method="post">
        <img src="{%static 'img/reg_user.svg'%}" width="100px" height="100px" alt="login image" />
        <h1>تسجيل مستخدم جديد</h1>
        {% csrf_token %} {{form.as_div}}
        <br>
        <button class="btn_v1" type="submit">تأكيد</button>
    </form>
</div>

{% endblock %}
<br>{% block sec_1%}{% endblock %}
<br>{% block sec_2%}{% endblock %}
<br>{% block sec_3%}{% endblock %}
<br>{% block sec_4%}{% endblock %}