{% extends "home.html" %} {% load static %}
<br>{% block tit%}عرض النشاط التجاري{% endblock %}
<br>{% block header%}

<h1>عرض الأنشطة التجارية للمستخدم س</h1>
<div class="cont_post">
    <h3>Intro</h3>
    <br>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, expedita eaque a, soluta corrupti saepe incidunt molestias labore ea praesentium in repudiandae? Sit provident distinctio error deserunt commodi! Minus, amet!
    </p>
    <br>
    <div style="display: flex;justify-content: space-evenly;">
        <a href="" class="btn_v1">الموقع علي جوجل</a>
        <li>عنوان الفرع:{{ffff}}</li>
        <a href="" class="btn_v1">للنواصل:{{+2011255466}}</a>
    </div>
</div>

{% endblock %}
<br>{% block sec_1%}
<script>
</script>
{% endblock %}
<br>{% block sec_2%}{% endblock %}
<br>{% block sec_3%}{% endblock %}
<br>{% block sec_4%}{% endblock %}