{% extends "home.html" %} {% load static %}
<br>{% block tit%}إضافة بيانات شركة{% endblock %}
<br>{% block header%}
<div class="dual_cont_model_1" style="margin: 15% 0%;">
    <div class="img_model" id="show_bkg">
        <img src="{{request.user.img_user.url}}" id="show_prod_img" width="256px" height="256px" alt="">
    </div>
    <form action="" class="form_adj" enctype="multipart/form-data" method="post">
        {% csrf_token %} {{form.as_div}}
        <button class="btn_v1" type="submit">تأكيد</button>
    </form>
</div>

{% endblock %}
<br>{% block sec_1%} {% endblock %}
<br>{% block sec_2%}{% endblock %}
<br>{% block sec_3%}{% endblock %}
<br>{% block sec_4%}{% endblock %}